.header {
    position: relative;
    background-image: url(./../assets/images/bg_header.png);
    background-position: center;


    &:after {
        content: '';
        position: absolute;
        @include position();
        background: rgb(85, 183, 255);
        background: linear-gradient(45deg, rgba(85, 183, 255, 0.9) 0%, rgba(126, 90, 255, 0.9) 100%);
        z-index: 2;
    }


    &__inner {
        position: relative;
        z-index: 3;
        color: #fff;
        padding: 50px;
    }

    &__slider {
        height: 200px;
    }
}