.title {
    @include text($h44, 700, $dark-blue, $f-gotham-bold);
    @include flex(center, center, column, nowrap);
    text-transform: uppercase;
    text-align: center;
    
    &--white{
        color: $white;
    }

    &__line {
        margin-bottom: 20px;
        width: 100px;
        height: 2px;

        &--blue {
            background-color: $dark-blue;
        }

        &--white {
            background-color: $white;
        }
    }
}