<div class="footer">
    <section class="map">
        <div class="map__main">
            <div id="mapid"></div>
        </div>
    </section>
    <div class="footer__inner">
        <div class="footer__banner">
            <div class="footer__title title title--blue">
                <div class="title__line title__line--blue"></div>
                <span>get in touch</span>
            </div>
            <ul class="footer__contact">
                <li class="footer__contact-item">
                    <span class="icon-maps footer__icon"></span>
                    91 Nolan Extensions Suite 670
                </li>
                <li class="footer__contact-item">
                    <span class="icon-call footer__icon"></span>
                    +001 356-868-2454
                </li>
                <li class="footer__contact-item">
                    <span class="icon-email footer__icon"></span>
                    gahuy93@gmail.com
                </li>
                <li class="footer__contact-item">
                    <span class="icon-time footer__icon"></span>
                    From 07:05AM to 19:30PM
                </li>
            </ul>
            <form action="" method="POST" class="footer__form">
                <input type="text" class="footer__input" placeholder="Name">
                <input type="email" class="footer__input" placeholder="Email">
                <button class="footer__button button">Submit</button>
            </form>
        </div>
    </div>
    <div class="footer__information-wrapper">
        <div class="footer__information">
            <div class="footer__logo"><img src="./assets/images/logoImage.png" alt=""></div>
            <ul class="footer__social social">
                <li class="social__item"><span class="icon-twitter social__icon"></span></li>
                <li class="social__item"><span class="icon-facebook social__icon"></span></li>
                <li class="social__item"><span class="icon-instagram social__icon"></span></li>
            </ul>
            <span class="footer__copyrights">Copyrights © 2017 Monticello Group</span>
            <span class="footer__stick">|</span>
            <span class="footer__made-with">Made with <span class="icon-like"></span> by Ga Huy</span>
        </div>
    </div>
</div>