<div class="gallery">
    <div class="gallery__inner container">
        <div class="gallery__title title">
            <div class="title__line--blue"></div>
            <span>gallery</span>
        </div>
        <div class="gallery__block">
            <div class="gallery__360">
                <img class="gallery__1" src="./assets/images/gallery_1.png" alt="">
                <img class="gallery__image-360" src="./assets/images/gallery_360.png" alt="">
            </div>
            <div class="gallery__block-wrapper">
                <div class="gallery__1-2">
                    <img class="gallery__2" src="./assets/images/gallery_2.png" alt="">
                    <img class="gallery__3" src="./assets/images/gallery_3.png" alt="">
                </div>
                <div class="gallery__2-2">
                    <img class="gallery__4" src="./assets/images/gallery_4.png" alt="">
                    <img class="gallery__5" src="./assets/images/gallery_5.png" alt="">
                </div>
            </div>
        </div>
        <a href="#" class="gallery__button button">see more</a>
    </div>
</div>