<header class="header">
  <div class="header__inner container">
    <div class="header__menu">
      <div class="header__logo logo">
        <img src="./assets/images/logoImage.png" alt="">
      </div>
      <ul class="header__items">
        <li class="header__item item">
          <div class="cercle"></div> About us
        </li>
        <li class="header__item item">
          <div class="cercle"></div> Projects
        </li>
        <li class="header__item item">
          <div class="cercle"></div> News
        </li>
        <li class="header__item item">
          <div class="cercle"></div> Contact
        </li>
      </ul>
      <ul class="header__social social">
        <li class="social__items"><span class="icon-twitter social__icon"></span></li>
        <li class="social__items"><span class="icon-facebook-logo social__icon"></span></li>
        <li class="social__items"><span class="icon-instagram social__icon"></span></li>
      </ul>
    </div>
    <div class="header__slider">
      <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="autoplay: true" tabindex="-1" uk-slider>

        <ul class="uk-slider-items uk-grid">
          <li class="uk-width-1-1">
            <div class="uk-panel">
              <div class="slider__block"></div>
              <div class="uk-position-center uk-text-center">
                <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </li>
          <li class="uk-width-1-1">
            <div class="uk-panel">
              <div class="slider__block"></div>
              <div class="uk-position-center uk-text-center">
                <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </li>
          <li class="uk-width-1-1">
            <div class="uk-panel">
              <div class="slider__block"></div>
              <div class="uk-position-center uk-text-center">
                <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </li>
          <li class="uk-width-1-1">
            <div class="uk-panel">
              <div class="slider__block"></div>
              <div class="uk-position-center uk-text-center">
                <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </li>
          <li class="uk-width-1-1">
            <div class="uk-panel">
              <div class="slider__block"></div>
              <div class="uk-position-center uk-text-center">
                <h2 uk-slider-parallax="x: 100,-100">Heading</h2>
                <p uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="uk-position-center-right uk-position-medium">
          <ul class="uk-dotnav uk-dotnav-vertical">
            <li uk-slider-item="0"><a href="#">Item 1</a></li>
            <li uk-slider-item="1"><a href="#">Item 2</a></li>
            <li uk-slider-item="2"><a href="#">Item 3</a></li>
            <li uk-slider-item="3"><a href="#">Item 3</a></li>
            <li uk-slider-item="4"><a href="#">Item 3</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header__scroll-down">
      <span>&#748;</span>
    </div>
  </div>
</header>