<div class="news">
    <div class="news__inner container">
        <div class="news__title title title--white">
            <div class="title__line title__line--white"></div>
            <span>latest news</span>
        </div>
        <div class="slider">
            <div class="slider__wrapper">
                <div class="slider__inner">
                    <div class="slider__item">
                        <div class="card">
                            <div class="card__block-for-img"><img class="card__image" src="./assets/images/slider_1.png"
                                    alt=""></div>
                            <div class="card__banner">
                                <div class="card__title">See The Unmatched Beauty Of The Great</div>
                                <div class="card__subtitle">Free directories directories are perfect for
                                    customers that are...</div>
                                <div class="card__person">
                                    <div class="card__person-avatar"><img src="./assets/images/slider_logo_1.png"
                                            alt="">
                                    </div>
                                    <div class="card__person-info">
                                        <div class="card__person-name">Isaac Dunn</div>
                                        <div class="card__person-date">09 Feb 2017</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="card">
                            <div class="card__block-for-img"><img class="card__image" src="./assets/images/slider_2.png"
                                    alt=""></div>
                            <div class="card__banner">
                                <div class="card__title">Effective Advertising Pointers.</div>
                                <div class="card__subtitle">Having a home based business is a wonderful asset to
                                    your life...</div>
                                <div class="card__person">
                                    <div class="card__person-avatar"><img src="./assets/images/slider_logo_2.png"
                                            alt="">
                                    </div>
                                    <div class="card__person-info">
                                        <div class="card__person-name">Dominic Freeman</div>
                                        <div class="card__person-date">24 Apr 2017</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="card">
                            <div class="card__block-for-img"><img class="card__image" src="./assets/images/slider_3.png"
                                    alt=""></div>
                            <div class="card__banner">
                                <div class="card__title">Hypnotize Yourself Into The Ghost.</div>
                                <div class="card__subtitle">There are many things that are important to catalog
                                    design....</div>
                                <div class="card__person">
                                    <div class="card__person-avatar"><img src="./assets/images/slider_logo_3.png"
                                            alt="">
                                    </div>
                                    <div class="card__person-info">
                                        <div class="card__person-name">Alice Ward</div>
                                        <div class="card__person-date">30 Dec 2017</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="card">
                            <div class="card__block-for-img"><img class="card__image" src="./assets/images/slider_1.png"
                                    alt=""></div>
                            <div class="card__banner">
                                <div class="card__title">See The Unmatched Beauty Of The Great</div>
                                <div class="card__subtitle">Free directories directories are perfect for
                                    customers that are...</div>
                                <div class="card__person">
                                    <div class="card__person-avatar"><img src="./assets/images/slider_logo_1.png"
                                            alt="">
                                    </div>
                                    <div class="card__person-info">
                                        <div class="card__person-name">Isaac Dunn</div>
                                        <div class="card__person-date">09 Feb 2017</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="card">
                            <div class="card__block-for-img"><img class="card__image" src="./assets/images/slider_2.png"
                                    alt=""></div>
                            <div class="card__banner">
                                <div class="card__title">Effective Advertising Pointers.</div>
                                <div class="card__subtitle">Having a home based business is a wonderful asset to
                                    your life...</div>
                                <div class="card__person">
                                    <div class="card__person-avatar"><img src="./assets/images/slider_logo_2.png"
                                            alt="">
                                    </div>
                                    <div class="card__person-info">
                                        <div class="card__person-name">Dominic Freeman</div>
                                        <div class="card__person-date">24 Apr 2017</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="slider__control slider__control_left" href="#" role="button"></a>
            <a class="slider__control slider__control_right" href="#" role="button"></a>
        </div>

    </div>
</div>