<div class="news">
    <div class="news__inner container">
        <div class="uk-light" uk-slider>

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                <div class="uk-slider-container">
                    <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">
                        <li>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="./assets/images/slider_1.png" alt="">
                                </div>
                                <div class="uk-card-body card__wrapper">
                                    <div class="card">
                                        <div class="card__title">See The Unmatched Beauty Of The Great.</div>
                                        <div class="card__subtitle">Free directories: directories are perfect for
                                            customers that are...</div>
                                        <div class="card__person">
                                            <div class="card__person-avatar"><img
                                                    src="./assets/images/slider_logo_1.png" alt=""></div>
                                            <div class="card__person-info">
                                                <div class="card__person-name">Isaac Dunn</div>
                                                <div class="card__person-date">09 Feb 2017</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="./assets/images/slider_2.png" alt="">
                                </div>
                                <div class="uk-card-body card__wrapper">
                                    <div class="card">
                                        <div class="card__title">Effective Advertising Pointers.</div>
                                        <div class="card__subtitle">Having a home based business is a wonderful asset to
                                            your life...</div>
                                        <div class="card__person">
                                            <div class="card__person-avatar"><img
                                                    src="./assets/images/slider_logo_2.png" alt=""></div>
                                            <div class="card__person-info">
                                                <div class="card__person-name">Dominic Freeman</div>
                                                <div class="card__person-date">24 Apr 2017</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="./assets/images/slider_3.png" alt="">
                                </div>
                                <div class="uk-card-body card__wrapper">
                                    <div class="card">
                                        <div class="card__title">Hypnotize Yourself Into The Ghost.</div>
                                        <div class="card__subtitle">There are many things that are important to catalog
                                            design....</div>
                                        <div class="card__person">
                                            <div class="card__person-avatar"><img
                                                    src="./assets/images/slider_logo_3.png" alt=""></div>
                                            <div class="card__person-info">
                                                <div class="card__person-name">Alice Ward</div>
                                                <div class="card__person-date">30 Dec 2017</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="./assets/images/slider_1.png" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">Headline</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="./assets/images/slider_2.png" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">Headline</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <a class="uk-position-center-left-out uk-position-small news__slider-link" href="#" uk-slidenav-previous
                    uk-slider-item="previous"></a>
                <a class="uk-position-center-right-out uk-position-small news__slider-link " href="#" uk-slidenav-next
                    uk-slider-item="next"></a>

            </div>

            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

        </div>
    </div>
</div>