<div class="we-do" id="we-do">
    <div class="we-do__inner container">
        <div class="we-do__title title">
            <div class="title__line--blue"></div>
            <span>What we do</span>
        </div>
        <div class="we-do__block we-do__block--left">
            <div class="we-do__img we-do__img--left">
                <img class="we-do__images we-do__images--left" src="./assets/images/we-do-1.png" alt="">
            </div>
            <div class="we-do__banner">
                <h3 class="banner__suptitle">one world</h3>
                <h2 class="banner__title">trade center</h3>
                    <h3 class="banner__subtitle">Increasing prosperity in our lives can be accomplished by having the
                        right frame of mind. The truth is, our thoughts are very powerful.</h3>
                    <a href="#" class="we-do__button button">More details</a>
                    <span class="icon-maps"></span>
                    <span class="banner__location">New York City, United States - 1776 Feet</span>
            </div>
        </div>
        <div class="we-do__block we-do__block--right">
            <div class="we-do__img we-do__img--right">
                <img class="we-do__images we-do__images--right" src="./assets/images/we-do-2.png" alt="">
            </div>
            <div class="we-do__banner">
                <h3 class="banner__suptitle">International</h3>
                <h2 class="banner__title">Commerce Centre</h3>
                    <h3 class="banner__subtitle">Successful businesses have many things in common, today we’ll look at
                        the big ‘R’ of recognition and how a digital advertising network may help.
                    </h3>
                    <a href="#" class="we-do__button button">More details</a>
                    <span class="icon-maps"></span>
                    <span class="banner__location">Hong Kong - 1588 Feet</span>
            </div>
        </div>
    </div>
</div>