<div class="we-do" id="we-do">
    <div class="we-do__inner container">
        <div class="we-do__title title">
            <div class="title__line--blue"></div>
            <span>What we do</span>
        </div>
        <div class="we-do__block">
            <div class="we-do__img">
                <div class="we-do__square we-do__square--left"></div>
                <div class="we-do__images"><img src="./assets/images/we-do-1.png" alt=""></div>
            </div>
            <div class="we-do__banner">
                <h3 class="banner__suptitle">one world</h3>
                <h2 class="banner__title">trade center</h3>
                <h3 class="banner__subtitle">Increasing prosperity in our lives can be accomplished by havin. Increasing prosperity in our lives can be accomplished by havin</h3>
                <a href="#" class="we-do__button button">More details</a>
                <span class="icon-maps"></span>
                <span class="banner__location">New York City, United States - 1776 Feet</span>
            </div>
        </div>
        <div class="we-do__block">
            <div class="we-do__banner">
                <h3 class="banner__suptitle">International</h3>
                <h2 class="banner__title">Commerce Centre</h3>
                <h3 class="banner__subtitle">Increasing prosperity in our lives can be accomplished by havin. Increasing prosperity in our lives can be accomplished by havin</h3>
                <a href="#" class="we-do__button button">More details</a>
                <span class="icon-maps"></span>
                <span class="banner__location">Hong Kong - 1588 Feet</span>
            </div>
            <div class="we-do__img">
                <div class="we-do__square we-do__square--right"></div>
                <div class="we-do__images"><img src="./assets/images/we-do-2.png" alt=""></div>
            </div>
        </div>
    </div>
</div>