//color
$white: white;
$black: black;
$dark-blue: #2c4058;
$blue: #55b7ff;
$grey-blue: #4b5562;
$purple: #7e5aff;

//font
$f-gotham-book: 'Montserrat', sans-serif;
$f-gotham-bold: 'Montserrat', sans-serif;
$f-open-sans: 'Open Sans';

//font-size
$base-font-size: 16px;
@function calcRem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

$h80: calcRem(80px);
$h44: calcRem(44px);
$h30: calcRem(30px);
$h22: calcRem(22px);
$h18: calcRem(18px);
$h14: calcRem(14px);
// $h90: calcRem(90px);
