//color
$white: white;
$black: black;
$dark-blue: #2c4058;

//font
$f-gotham-book: 'GothamBook';
$f-gotham-bold: 'gothambold1';

//font-size
$base-font-size: 16px;
@function calcRem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

$h80: calcRem(80px);
$h44: calcRem(44px);
$h30: calcRem(30px);
$h22: calcRem(22px);
$h18: calcRem(18px);
$h14: calcRem(14px);
// $h90: calcRem(90px);
